
 
 <div id="tree_categories" class="tree">
  	<ul>


  	  <% nodes = BestBuyApi.get_subcategories("Departments") -%>


  	  <% root = nodes.keys.first -%>
  	  <% children = nodes.values.first -%>
  		<li id="<%= root.keys.first %>" class="jstree-closed">
  			<a href="#"><%= root.keys.first %> <%= root.values.first %></a>
  			<input type="checkbox" class="category_selection"/>
  			<% if children.length < 0 %>
    			<ul>
    			  <% children.each do |c| -%>
        	    <% child = c.first -%>
    				  <li id="<%= child.first %>" class="">
    					  <a href="#"> <%= child.first %> <%= child.last %></a>
    					  <input type="checkbox" class="category_selection"/>
    				  </li>
    				<% end -%>
    			</ul>
    		<% end %>
  		</li>
  	</ul>
  </div>
 