<h1>Edit Product Type</h1>

<div id="top_type" data-id="<%= @product_type.id %>" data-name="<%= @product_type.name %>">

<%= render "description" %>

<%= render 'tree' %>

<input type="button" id="save_type" value="Save" style="display:block; float:left;">

<%= link_to 'Cancel', product_types_path %>

