<h1>Listing results</h1>
<table cellpadding=3>
  <tr>
    <th>Total</th>
    <th>Errors</th>
    <th>Created At</th>
    <th>Product Type</th>
	<th>Category Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.total %></td>
    <td><%= result.error_count %></td>
    <td><%= result.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:short) %></td>
    <td><%= result.product_type %></td>
	<td><%= result.category %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
