<div id="header">
    <h2>Rules for SKUs in category id <%=@category_id%></h2>
</div>
<div id="content">
<div class="strong" id="num_skus_found">
    Total of <%=@product_count%> SKUs found
</div>
<h3>Rules</h3>
<% {"Candidates" => @candidate_rules, "Delinquents" => @delinquent_rules}.each_pair do |title, ruleset| %>
    <p><%= title %></p>
    <% ruleset.each_pair do |feature,d| %>
    	<% save = "" %>
    	<% r = nil %>
    	<% d.each_pair do |rf,e| %>
    		<% save = render :partial => "remote_features", :locals => {:rf => rf, :data => e} %>
    		<%# Get the rule out of the hash %>
    		<% r = e["rule"] if r.nil? %>
    	<% end %>
    	<div class="togglable">
    		<a href="#" class="open title_link">
    			Feature: <span class="bold"><%= r.local_featurename %></span>&nbsp;&nbsp;&nbsp;
    			Type: <span class="bold"><%= r.rule_type %></span>&nbsp;&nbsp;&nbsp;
    			Restrictions: <%= restrictions(r) %>
    		</a>
    		<%= save %>
    	</div>
    <% end %>
<% end %>
</div>
