<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @result.total %>
</p>

<p>
  <b>Errors:</b>
  <%= @result.errors %>
</p>

<p>
  <b>Warnings:</b>
  <%= @result.warnings %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
