<div class='layout'>
  <div class='column' id='filters'>
    <div id='filters_body'>
      <h2>Filters</h2>
      <% @old_filters.each do |f| -%> <!-- todo: get the list in the right ordering -->
          <%= render :partial => '/facet/facet_display', :locals => {:f => f} %>
      <% end -%>
    </div>
    <div>Add New:
      <div><a id="add_header" href="#">Header</a></div>
      <div><a id="add_spacer" href="#">Spacer</a></div>
      <div>Filter:</div>
      <select id="new_filter" style=" ">
      <!-- check: are the tag attributes necessary? -->
      <% @all_filters.each do |f| -%>
          <option class="filter_option" value="<%= f %>"><%= f %></option>
      <% end -%>
      </select>
    </div>
  </div>
  <div class='column' id='sorting'>
	<div id='sorting_body'>
	  <h2>Sorting</h2></div>
	  <% @old_sortby.each do |f| -%> <!-- todo: get the list in the right ordering -->
        <%= render :partial => '/facet/facet_display', :locals => {:f => f} %>
	  <% end -%>
	  <div>Add New:
	    <div>Sorting Option:</div>
	    <select id="new_sortby" style=" ">
	    <!-- check: are the tag attributes necessary? -->
        <% @all_sortby.each do |f| -%>
          <option class="sortby_option" value="<%= f %>"><%= f %></option>
        <% end -%>
	    </select>
	  </div>
	</div>
  </div>
  <div class='column' id='compare'>
	<div id='compare_body'>
      <h2>Compare</h2></div>
	  <% @old_compare.each do |f| -%> <!-- todo: get the list in the right ordering -->
        <%= render :partial => '/facet/facet_display', :locals => {:f => f} %>
	  <% end -%>
	<div>Add New:
	  <div>Comparison Field:</div>
	  <select id="new_compare", style=" ">
	  <% @all_compare.each do |f| -%>
	    <option class="compare_option" value="<%= f %>"><%= f %></option>
	  <% end -%>
	  </select>
	</div>
  </div>
</div>
<div style="clear:both;"></div>
<!-- <div><a id="submit_layout" href="#" style="display:block; float:left;">Save</a></div> -->
<input type="button" id="submit_layout" value="Save" style="display:block; float:left;">
