<div>
	<span class="bold"><%= candidate.sku %>&nbsp;</span><span href="#" class="expandable_sku" data-id="<%=candidate.sku%>">Fetch</span>&nbsp;&nbsp;&nbsp;
	Data: <span class="parsed bold" style="color: <%= candidate.scraping_correction ? "#B00C35" : (@colors.nil? ? "#4F3333" : @colors[candidate.scraping_rule_id.to_s] )%>" <%= "data-sc='#{candidate.scraping_correction_id}'" if candidate.scraping_correction %>><%= candidate.parsed %></span>&nbsp;&nbsp;
	&lt;=&nbsp;&nbsp; <span class="raw"<%= "data-rawhash='#{Digest::MD5.hexdigest(candidate.raw.to_s)}'" if candidate.raw.size > 20 %>><%= candidate.raw %></span>&nbsp;&nbsp;&nbsp;
	<% if candidate.scraping_correction #Is there a correction? %>
		<%= link_to "Update Correction", "#", :class => "correction" %>
		<%= link_to "Remove correction", product_type_scraping_correction_path(Session.product_type, candidate.scraping_correction), :method => :delete %>
	<% else %>
		<%= link_to "Correction", "#", :class => "correction" %>
	<% end %>
</div>