<h3 style="display: inline-block;" data-correctionsurl="<%= product_type_scraping_corrections_path %>">Rules</h3>
<div style="display: inline-block;">
  <%= form_for "/rules" do |f| %>
    <%= check_box_tag :coverage, 1, @coverage.present?, class: "coverage_submit" %> Coverage
  <% end %>
</div>
<% if @rules.empty? %>
  <div>
    <%= link_to "New Rule", "#", :class => "new_rule" %>
  </div>
<% end %>
<% @rules.each_pair do |local_feature,rules| %>
  <div style="margin-bottom: 1em; margin-left:10px;">
    <a href="#" class="togglable open mytitle">
      Feature: <span class="bold"><%= local_feature %></span>&nbsp;&nbsp;&nbsp;
      Type: <span class="bold"><%= get_feature_type(rules) %></span>&nbsp;&nbsp;&nbsp;
      <% if @coverage.present? %>
        Coverage: <span class="bold"><%= @coverage[local_feature] || @coverage[rules.first.id] %>/<%= @products_count %></span>
      <% end %>
    </a>
    <%= link_to "New Rule", "#", :class => "new_rule", :'data-lf' => local_feature %>
    <div class="contentholder">
      <%# Rules for this local_feature %>
      <% rules.each_with_index do |rule, remote_feature_counter| %>
        <div data-id="<%= rule.id %>">
          <%= link_to "#", :class => "raise_rule_priority", :title => "Raise rule priority" do %>&#8679;<% end if remote_feature_counter >= 1%>
          <a href="#" class="togglable closed fetch_candidates mytitle">
            Remote Feature: <span class="bold"><%= rule.remote_featurename %></span>&nbsp;&nbsp;&nbsp;
            <span style="color: <%= @colors[rule.id] if @colors %>">Rule:</span> <%= rule.regex %>&nbsp;&nbsp;&nbsp;
            <% if @coverage.present? %>
              Coverage: <span class="bold"><%= @coverage[rule.id] %>/<%= @products_count %></span>&nbsp;&nbsp;&nbsp;
            <% end %>
          </a>
          <%= link_to "Edit Rule", edit_product_type_scraping_rule_path(Session.product_type,rule), data: {id: rule.id}, :class => "edit_rule_dropdown" %>
          <%= link_to "Destroy", product_type_scraping_rule_path(Session.product_type, rule), :class => "delete_scraping_rule", :method => :delete, :remote => :true %>
          <div class="contentholder">Processing...</div>
        </div>
      <% end %>
      <% if @coverage.present? && rules.length > 1 #Multi-rules%>
        <div data-id="<%= rules.map(&:id).join("-") %>">
          <a href="#" class="togglable closed mytitle fetch_candidates">Applying All Rules</a>
          <div class="contentholder">Processing...</div>	
        </div>
      <% end %>
    </div>
    <%# End local_feature %>

	</div>
<% end %>