<% parent = @nodes.keys.first -%>
<% children = @nodes.values.first -%>
<% parent_id = parent.keys.first %>
<% parent_name = parent.values.first %>
<% top_category = "Departments" %>
<li id="<%= parent_id %>" data-name="<%= parent_name %>" class="catnav jstree-open 
  <% unless children.length > 0 -%>
  jstree-leaf
  <% end -%>
  ">
  <ins class="jstree-icon">&nbsp;</ins>
  <a class="" href="#">
    <ins class="jstree-icon">&nbsp;</ins>
    <%= parent_id %> <%= parent_name %></a>
    <% unless parent_id == top_category -%>
      <input type="checkbox" class="category_selection"/>
    <% end -%>
    <% if children.length > 0 %>
  		<ul>
  		  <% children.each do |c| -%>
  		  <% child = c.first -%>
  		  <% category_id = child.first -%>
  		  <% category_name = child.last -%>
  			  <li id="<%= category_id %>" data-name="<%= category_name %>" class="jstree-closed">
  			    <ins class="jstree-icon">&nbsp;</ins>
  				  <a class="catnav" href="#"> 
  				    <ins class="jstree-icon">&nbsp;</ins>
  				    <%= category_id %> <%= category_name %>
  				  </a>
      			<input type="checkbox" class="category_selection"/>
    			  </li>
  			<% end -%>
  		</ul>
  	<% end %>
</li>