
<% parent = @nodes.keys.first -%>
<% children = @nodes.values.first -%>
<% parent_id = parent.keys.first %>
<% parent_name = parent.values.first %>

<li id="<%= parent_id %>" class="jstree-open 
  <% unless children.length > 0 -%>
  jstree-leaf
  <% end -%>
  ">
  <ins class="jstree-icon">&nbsp;</ins>
  <a class="" href="#">
    <ins class="jstree-icon">&nbsp;</ins>
    <%= parent_id %> <%= parent_name %></a>
    <input type="checkbox" class="category_selection"/>
    <% if children.length > 0 %>
  		<ul>
  		  <% children.each do |c| -%>
  		  <% child = c.first -%>
  			  <li id="<%= child.first %>" class="jstree-closed">
  			    <ins class="jstree-icon">&nbsp;</ins>
  				  <a class="" href="#"> 
  				    <ins class="jstree-icon">&nbsp;</ins>
  				    <%= child.first %> <%= child.last %>
  				  </a>
  				  <input type="checkbox" class="category_selection"/>
  			  </li>
  			<% end -%>
  		</ul>
  	<% end %>
</li>