<h1>Listing scraping_corrections</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Product type</th>
    <th>Corrected</th>
    <th>Remote featurename</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scraping_corrections.each do |scraping_correction| %>
  <tr>
    <td><%= scraping_correction.product_id %></td>
    <td><%= scraping_correction.product_type %></td>
    <td><%= scraping_correction.corrected %></td>
    <td><%= scraping_correction.remote_featurename %></td>
    <td><%= link_to 'Show', scraping_correction %></td>
    <td><%= link_to 'Edit', edit_scraping_correction_path(scraping_correction) %></td>
    <td><%= link_to 'Destroy', scraping_correction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scraping correction', new_scraping_correction_path %>
