<% rule = remote_feature.first.scraping_rule %>
<div class="contentholder">
	<%= link_to "#", :class => "raise_rule_priority", :"data-id" => rule.id, :title => "Raise rule priority" do %>&#8679;<% end if remote_feature_counter >= 1%>
	<a href="#" class="togglable closed mytitle">
		Remote Feature: <span class="bold"><%= rule.remote_featurename %></span>&nbsp;&nbsp;&nbsp;
		<span style="color: <%= @colors[rule.local_featurename][rule.id] %>">Rule:</span> <%= rule.regex %>&nbsp;&nbsp;&nbsp;
		Coverage: <span class="bold"><%= covered(remote_feature) %>/<%= pc %></span>
	</a>&nbsp;&nbsp;&nbsp;
	<%= link_to "Edit Rule", "#", :class => "edit_rule_dropdown", :"data-id" => rule.id, :"data-pt" => Session.p_type %>
	<%= link_to "Destroy", rule, :method => :delete %>
	<div class="contentholder"><%= render :partial => 'candidate', :collection => remote_feature %></div>
</div>
