<div class="contentholder">
	<a href="#" class="togglable closed title_link">
		Remote Feature: <span class="bold"><%= rf %></span>&nbsp;&nbsp;&nbsp;
		Rule: <%= remote_feature.rule.regex %>&nbsp;&nbsp;&nbsp;
		Coverage: <span class="bold"><%= pc - notcovered(remote_feature.products.map{|e|e.parsed}) %>/<%= pc %></span>
	</a>&nbsp;&nbsp;&nbsp;
	<%= link_to "Edit Rule", "#", :class => "edit_rule_dropdown", :"data-id" => remote_feature.rule.id %>
	<%= link_to "Destroy", remote_feature.rule, :method => :delete %>
	<%= link_to "Raise Priority", "#", :class => "raise_rule_priority", :"data-id" => remote_feature.rule.id %>
	<div class="contentholder"><%= render :partial => 'product', :collection => remote_feature.products, :locals => {:rf => rf} %></div>
</div>
