<div class="contentholder">
	<a href="#" class="togglable closed title_link">
		Remote Feature: <span class="bold"><%= rf %></span>&nbsp;&nbsp;&nbsp;
		Coverage: <span class="bold"><%= @limited_products - notcovered(data["products"].map{|e|e[1]}) %>/<%= @limited_products %></span>
	</a>&nbsp;&nbsp;&nbsp;
		Regex: <%= form_for(data["rule"]) do |f|%> <%= f.text_field :regex, :class => "regexp" %> <%= f.submit "Update" %> <% end %>
	<%= link_to "Destroy", data["rule"], :method => :delete %>
	<div class="contentholder"><%= render :partial => 'product', :collection => data["products"], :locals => {:rf => rf} %></div>
</div>
	