<div class="strong" id="num_skus_found">
	<% if @product_count.kind_of?(Array) %>
    	Showing <%= @product_count[0] %> of <%=@product_count[1] %> SKUs in this category
	<% else %>
		<%= @product_count %> SKUs in this category
	<% end %>
</div>
<h3>Rules</h3>
<% @rules.each_pair do |feature,d| %>
	<div style="margin-bottom: 1em;">
		<a href="#" class="togglable open title_link">
			Feature: <span class="bold"><%= feature %></span>&nbsp;&nbsp;&nbsp;
			Coverage: <span class="bold"><%= d.shift.to_s + "/" + (@product_count.kind_of?(Array) ? @product_count[0] : @product_count).to_s %></span>
		</a>
		<% d.group_by{|a|a.rule.remote_featurename}.each_pair do |remote_feature, data | %>
	    	<%= render :partial => "remote_feature", :collection => data, :locals => {:rf => remote_feature, :pc => (@product_count.kind_of?(Array) ? @product_count[0] : @product_count)} %>
		<% end %>
	</div>
<% end %>
