<div class="strong" id="num_skus_found">
	<% if defined? @exists_count %>
    	Showing <%= @product_count %> of <%= @exists_count %> SKUs in this category
	<% else %>
		<%= @product_count %> SKUs in this category
	<% end %>
</div>
<h3>Rules</h3>
<% @rules.each_pair do |feature,d| %>
	<div style="margin-bottom: 1em;">
		<a href="#" class="togglable open title_link">
			Feature: <span class="bold"><%= feature %></span>&nbsp;&nbsp;&nbsp;
			Coverage: <span class="bold"><%= covered(@multirules[feature]||d.first) %>/<%= @product_count %></span>
		</a>
		<%= link_to "New Rule", "#", :class => "new_rule", :'data-lf' => feature %>
	    <%= render :partial => "remote_feature", :collection => d, :locals => {:pc => @product_count} %>
		
		<% if @multirules[feature] %>
		<div class="contentholder">
			<a href="#" class="togglable closed title_link">Applying All Rules</a>
			<div class="contentholder">
				<%= render :partial => 'candidate', :collection => @multirules[feature] %>
			</div>	
		</div>
		<% end %>
	</div>
<% end %>
