<div class="togglable">
	<a href="#" class="closed">
		<% r = rule[0] %>
		<%= r.local_featurename %> <%= r.rule_type %>
		<%= r.min if r.rule_type == "cont" %>
		<%= r.max if r.rule_type == "cont" %>
		<%= r.valid_inputs if r.rule_type == "cat" %>
		25/25
	</a>
	<div class="contentholder"><%= render :partial => 'r', :collection => rule %></div>
</div>
	