<h3 style="display: inline-block;">Rules</h3>
<div style="display: inline-block;">
  <%= form_for "/myrules" do |f| %>
    <%= check_box_tag :coverage, 1, @coverage.present?, class: "coverage_submit" %> Coverage
  <% end %>
</div>
<% @rules.each_pair do |local_feature,rules| %>
	<div style="margin-bottom: 1em;">
		<a href="#" class="togglable open">
			Feature: <span class="bold"><%= local_feature %></span>&nbsp;&nbsp;&nbsp;
			<% if @coverage %>
			  Coverage: <span class="bold"></span>
			<% end %>
		</a>
		<%= link_to "New Rule", "#", :class => "new_rule", :'data-lf' => local_feature %>
		<div class="contentholder">
	  <%# Rules for this local_feature %>
		<% rules.each_with_index do |rule, remote_feature_counter| %>
    <div data-id="<%= rule.id %>">
      <%= link_to "#", :class => "raise_rule_priority", :title => "Raise rule priority" do %>&#8679;<% end if remote_feature_counter >= 1%>
    	<a href="#" class="togglable closed fetch_candidates">
    		Remote Feature: <span class="bold"><%= rule.remote_featurename %></span>&nbsp;&nbsp;&nbsp;
    		<span style="color: <%= @colors[rule.local_featurename][rule.id] if @colors %>">Rule:</span> <%= rule.regex %>&nbsp;&nbsp;&nbsp;
    		<% if @coverage.present? %>
    		  Coverage: <span class="bold"><%= @coverage[rule.id] %>/<%= @products_count %></span>&nbsp;&nbsp;&nbsp;
    		<% end %>
    	</a>
    	<%= link_to "Edit Rule", "#", :class => "edit_rule_dropdown", :"data-id" => rule.id, :"data-pt" => Session.product_type %>
    	<%= link_to "Destroy", rule, :method => :delete %>
    	<div class="contentholder">Processing...</div>
    </div>
    <% end %>
    </div>
    <%# End local_feature %>

	</div>
<% end %>


