<div class="strong" id="num_skus_found">
    Showing <%= @limited_products %> of <%=@product_count%> SKUs in this category
</div>
<h3>Rules</h3>
<% @rules.each_pair do |feature,d| %>
	<% save = "" %>
	<% r = nil %>
	<% d.each_pair do |rf,e| %>
		<% save += render :partial => "remote_features", :locals => {:rf => rf, :data => e} %>
		<%# Get the rule out of the hash %>
		<% r = e["rule"] if r.nil? %>
	<% end %>
	<div>
		<a href="#" class="togglable open title_link">
			Feature: <span class="bold"><%= r.local_featurename %></span>&nbsp;&nbsp;&nbsp;
			Type: <span class="bold"><%= r.rule_type %></span>&nbsp;&nbsp;&nbsp;
			Restrictions: <%= restrictions(r) %>
		</a>
		<%=raw save %>
	</div>
<% end %>
