<div class="strong" id="num_skus_found">
    Showing <%= @limited_products %> of <%=@product_count%> SKUs in this category
</div>
<h3>Rules</h3>
<% @rules.each_pair do |feature,d| %>
	<% save = "" %>
	<% r = nil %>
	<% d["ordered"].each do |o| %>
	    <% next if o[1].class == Fixnum %>
		<% save += render :partial => "remote_features", :locals => {:rf => o[0], :data => o[1]} %>
		<%# Get the rule out of the hash %>
		<% r = o[1]["rule"] if r.nil? %>
	<% end %>
	<div style="margin-bottom: 1em;">
		<a href="#" class="togglable open title_link">
			Feature: <span class="bold"><%= r.local_featurename %></span>&nbsp;&nbsp;&nbsp;
			Type: <span class="bold"><%= r.rule_type %></span>&nbsp;&nbsp;&nbsp;
			<span>Restrictions: <%= restrictions(r) %></span>&nbsp;&nbsp;&nbsp;
			Coverage: <span class="bold"><%= d["coverage"].to_s + " / " + @limited_products.to_s %></span>
		</a>
	    <%=raw save %>
	</div>
<% end %>
