<%= link_to "Product " + @id, "#", :class => "closed togglable" %>
<div class = "contentholder">
	<div class="scraped_features">
		<%= link_to "Scraped Results", "#", :class => "open togglable" %>
		<div>
			<% @scraped_features.each_pair do |k,v| %>
				<div class="contentholder"><span class="bold"><%= k %> </span>
					<% v.each_pair do |l,scraped_result| %>
						<% scraped_result.rules.each_with_index do |r, i| %>
						    <%= scraped_result.products[i][0].parsed %> from: <%= scraped_result.products[i][0].raw %> using: <%= r.regex %> on <span class="bold"><%= r.remote_featurename %></span>
					    <% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="available_features">
	    <%= link_to "Available Features", "#", :class => "closed togglable" %>
	    <div><%= render :partial => 'raw_features', :locals => {:featurehash => @raw_info, :prefix => []} %></div>
	</div>
	
	<div class="raw_features">
	    <%= link_to "Raw JSON:", "#" , :class => "closed togglable" %>
	    <div><pre><%= PP.pp(@raw_info, "") %></pre></div>
	</div>
</div>