<%= link_to "Product " + @id, "#", :class => "closed" %>
<div class = "contentholder">
	<div class="scraped_features togglable">
		<%= link_to "Scraped Results", "#", :class => "open" %>
		<div>
			<% @scraped_features.each_pair do |k,v| %>
				<div class="contentholder"><span class="label"><%= k %> </span>
					<% v.each_pair do |l,w| %>
						<%= w[@id][0] %> from: <%= w[@id][1] %> using: <%= w[@id][2].regex %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="available_features togglable">
	    <%= link_to "Available Features", "#", :class => "closed" %>
	    <div><%= render :partial => 'raw_features', :locals => {:featurehash => @raw_info, :prefix => []} %></div>
	</div>
	
	<div class="raw_features togglable">
	    <%= link_to "Raw JSON:", "#" , :class => "closed" %>
	    <div><pre><%= PP.pp(@raw_info, "") %></pre></div>
	</div>
</div>