<%= link_to "Product " + @id, "#" %>
<div>
	<div class="available_features">
	    Available Features
	    <%= render :partial => 'raw_features', :locals => {:featurehash => @raw_info, :prefix => []} %>
	</div>
	<div class="scraped_features">
	<% @scraped_features.each_pair do |k,v| %>
		<div><label><%= k %></label><%= v %></div>
	<% end %>
	</div>
	
	<div class="raw_features">
	    Raw JSON:
	    <pre><%= @product_for_display %></pre>
	</div>
</div>