<%= link_to "Product " + @id, "#", :class => "closed togglable" %>
<div class = "contentholder">
	<div class="scraped_features">
		<%= link_to "Scraped Results", "#", :class => "open togglable" %>
		<div>
			<% @scraped_features.each_pair do |lf,scraped_results| %>
				<div class="contentholder"><span class="bold"><%= lf %> </span>
					<% scraped_results.each do |scraped_result| %>
						<% scraped_result.products.each do |product| %>
						    <%= product.parsed %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="available_features">
	    <%= link_to "Available Features", "#", :class => "closed togglable" %>
	    <div><%= render :partial => 'raw_features', :locals => {:featurehash => @raw_info, :prefix => []} %></div>
	</div>
	
	<div class="raw_features">
	    <%= link_to "Raw JSON:", "#" , :class => "closed togglable" %>
	    <div><pre><%= PP.pp(@raw_info, "") %></pre></div>
	</div>
</div>