<%= link_to "Product " + @id, "#", :class => "closed togglable" %>
<div class = "contentholder">
	<div class="scraped_features">
		<%= link_to "Scraped Results", "#", :class => "open togglable" %>
		<div>
			<% @scraped_features.each_pair do |k,v| %>
				<div class="contentholder"><span class="bold"><%= k %> </span>
					<% v.each_pair do |l,w| %>
						<%= w["products"][0][1] %> from: <%= w["products"][0][2] %> using: <%= w["rule"].regex %> on <span class="bold"><%= w["rule"]["remote_featurename"] %></span>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="available_features">
	    <%= link_to "Available Features", "#", :class => "closed togglable" %>
	    <div><%= render :partial => 'raw_features', :locals => {:featurehash => @raw_info, :prefix => []} %></div>
	</div>
	
	<div class="raw_features">
	    <%= link_to "Raw JSON:", "#" , :class => "closed togglable" %>
	    <div><pre><%= PP.pp(@raw_info, "") %></pre></div>
	</div>
</div>