<div id="header">
  <div class="product_type_menu">
    <div class="btn">
      <p>Choose Product Type</p>
    </div>
    <div class="current_product_type">
      <%= Session.product_type %>
    </div>
  </div>
  <div id="actions">
    <%= link_to "datafeed", "/datafeed" %> | 
    <%= link_to "rules", product_type_scraping_rules_path(Session.product_type) %> | 
    <%= link_to "results", product_type_scraping_rules_path(Session.product_type, full: true) %> | 
    <%= link_to "layout_editor", product_type_facets_path(Session.product_type) %>
  </div>
</div>