<div id="header">
  <div class="product_type_menu">
    <div class="btn" id="open_category_tree">
      <p>Choose Product Type</p>
    </div>
    <div class="current_product_type">
      <%= Session.product_type %>
    </div>
  </div>
  <div id="actions">
    <%= link_to "datafeed", product_type_b_bproducts_path(Session.product_type) %> | 
    <%= link_to "rules", product_type_scraping_rules_path(Session.product_type) %> | 
    <%= link_to "results", product_type_scraping_rules_path(Session.product_type, full: true) %> | 
    <%= link_to "layout_editor", product_type_facets_path(Session.product_type) %>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div id="tree_categories" class="tree"></id>
</div>