<div id="header">
  <div class="product_type_menu">
    <div class="btn">
      <p>Choose Product Type</p>
    </div>
    <div class="current_product_type">
      <%# Session.product_type %>
      <form>
        <input type="text" name="product_type" value="<%= Session.product_type %>" size="4"/>
        <input type="submit" value="Go" />
      </form>
    </div>
  </div>
  <div id="actions">
    <%= link_to "datafeed", "/datafeed" %> | 
    <%= link_to "rules", "/rules" %> | 
    <%= link_to "results", "/results" %> | 
    <%= link_to "product_types", "/product_types" %> |
    <%= link_to "layout_editor", "/layout_editor" %>
  </div>
</div>