<%= form_for(@feature) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :heading_id %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
 </div>
  <div class="field">
    <%= f.label "feature type" %><br />
    <%= select("feature",	"feature_type",	['Continuous', 'Binary', 'Categorical', 'Text']) %>
 </div>
    <div class="field">
    <%= f.label "used for" %><br />
    <%= f.text_field :used_for %>
    
 </div>
    <div class="field">
    <%= f.label "larger is better" %><br />
    <%= f.check_box :larger_is_better %>
 </div>

  <div class="field">
    <%= f.label "min" %><br />
    <%= f.number_field :min %>
 </div>

  <div class="field">
    <%= f.label "max" %><br />
    <%= f.number_field :max %>
 </div>

  <div class="field">
    <%= f.label "utility weight" %><br />
    <%= f.number_field :utility_weight %>
 </div>
  <div class="field">
    <%= f.label "cluster weight" %><br />
    <%= f.number_field :cluster_weight %>
 </div>

    <div class="field">
    <%= f.label "prefered" %><br />
    <%= f.text_field :prefered %>
 </div>

  
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
