<!DOCTYPE html>
<html>
<head>
  <title>Firehose</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "jquery.validate.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header">
        <h2>SKUs in category id <%=@category_id%></h2>
        <div id="actions"><%= link_to "datafeed", "/datafeed" %> - See the feed and define rules. | 
        <%= link_to "rules", "/rules" %> - See rule coverage, edit rules. | 
        <%= link_to "results", "/results" %> - Make new result set, push into product &amp; spec tables</div>
    </div>
    <div id="content">
    <%= yield %>
    </div>
<div id="silkscreen">&nbsp;</div>
</body>
</html>
