<!DOCTYPE html>
<html>
<head>
  <title>Firehose</title>
  <%= stylesheet_link_tag "application" %>
  <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="server_environment_reminder"> Server Environment: <%= Rails.env.to_s %></div>
    <div id="header">
		<!--<div style="margin-top: 22px; margin-left: -175px; margin-right: 50px; float: right;"><%= select "category","id", ["Change Category", "20218 - Digital Cameras"], {}, {:style => "width: 125px;"} %></div>-->

    
        <h2>
          <%= form_for ProductType.find(Session.product_type_id), :url=>root_path do |f| %>
          Please select product: <%= f.select "id", ProductType.all.collect { |p| [ p.name, p.id] } %><%= f.submit "Change Product Type"%>
          <% end %>
          <div style="padding-top: 9px;">
            SKUs in category id <%= Session.category_id %>
          </div>
        </h2> 
        <div id="actions"><%= link_to "datafeed", "/datafeed" %> - See the feed and define rules. | 
        <%= link_to "rules", "/rules" %> - See rule coverage, edit rules. | 
        <%= link_to "results", "/results" %> - Make new result set,
	  push into product &amp; spec tables | 
	<%= link_to "product_types", "/product_types" %> - Set up product types
	</div>
    </div>
    <div id="content">
    <%= yield %>
    </div>
<div id="silkscreen">&nbsp;</div>
</body>
</html>
