<!DOCTYPE html>
<html>
<head>
  <title>Firehose - Env: <%= Rails.env.to_s %></title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render partial: 'header' %>
  <div id="content">
  <%= yield %>
  </div>
  <div id="silkscreen">&nbsp;</div>
</body>
</html>
